<h1>You dead, yo</h1>

<form action="/start" method="get">
  <button type="submit" class="btn btn-success">Start new game</button>
</form>

<img src="/img/hangman4.jpeg" style="width:338px;height:400px">

<h1>Your word was: <%= @name %></h1>
